* {
    margin: 0px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.heading {
    width: 100%;
    
    background-color: #133b5c;
    text-align: center;
}

h1 {
    color: #fff;
    
    background: transparent;
    padding: 15px;
    font-size: 16px;
}

.selector__container {
    margin: 2rem 2rem;
    border: none;
    border-radius: 4px;
    padding: 20px;
}
.outer-wrapper {
    margin: 1rem;
    border: none;
    border-radius: 4px;
    
    padding: 20px;
    
}
.table-wrapper {
    flex: 1;
    width: 100%;
    overflow-y: auto;
    height: fit-content;
    max-height: 80vh;
    margin-top: 22px;
}

#emp-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.table-filter {
    width: 100%;
    border-radius: 4px;
    outline: none;
    border: none;
    transition: 0.3s;
}

.table-filter:hover {
    background-color: #f0f0f0;
}
.thead_filter {
    flex: 1;
    width: 100%;
}
.thead_filter th {
    background-color: #ebebeb;
    z-index: 4;
    position: static;
    padding: 20px 15px;
    flex: 1;
    width: 600px;
}

.thead_filter th select {
    padding: 12px;
}

#sjs-A1, #sjs-B1, #sjs-C1, #sjs-D1, #sjs-E1, #sjs-F1, #sjs-G1, #sjs-H1 {
    position: sticky; 
    top: 0px;
    background-color: #499de2;
    color: #f1f5b3;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    /* border: 0.4px solid #146db6; */
} 

.table-head {
    border-bottom: 0.5px solid #e7e7e7;
    flex: 1;
    width: 100%;
}
.table-head th {
    padding: 20px;
    font-size: 15px;
    flex: 1;
    width: 350px;
}

.table__body {
    flex: 1;
    width: 100%;
}
.table__body tr td {
    flex: 1;
    width: 350px;
    text-align: left; 
    font-size: 15px;
    border-bottom: 0.5px solid #e7e7e7;
    padding: 20px;
}

.blank__thead {
    flex: 1;
    width: 100%;
}
.blank__thead th {
    background-color: #00000000;
    border: none;
    padding: 20px;
}

.autocomplete-items {
    background-color: #133b5c;
    color: #fff;
    position: absolute;
   
    z-index: 5;
}






/*the container must be positioned relative:*/
.autocomplete {
    position: relative;
    display: inline-block;
  }
  
  
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
  }
  
 
  .autocomplete-items div {
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    background-color: #133b5c;
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #146db6; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }


